page-pretrip20 {

    ion-icon {
        font-size: 22pt !important;
        color: #4c4c4c;
        padding-left: 8px;
        margin-top: -3px;
    }

    .divider {
        font-size: 13pt;
    }

    .card-md {
        margin: 0;
        width: 100%;
    }    

    .header-badge {
        padding-left: 2px;
    }

    ion-item {
        border-bottom: 1px solid #CCC !important;
    }
}
