// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
@import url('https://fonts.googleapis.com/css?family=Righteous');

$SIDEMENU_TOP: #35cb66;
$SIDEMENU_BOTTOM: #dff4e2;
$SIDEMENU_TRANSPARENCY: rgba(255, 255, 255, 0.4);

.body-text {
    font-size: 10pt;
    padding: 0;
    color: #444;
}

.slider-text {
    font-size: 13pt;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
}

.side-menu-gradient {
    background: -webkit-linear-gradient(to left, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -o-linear-gradient(to left, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: -moz-linear-gradient(to left, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
    background: linear-gradient(to left, $SIDEMENU_TOP, $SIDEMENU_BOTTOM);
}

.side-menu-item {
    background: none;
    color: black;
    font-weight: 500;
    border-top: 1px solid #FFF;
    border-bottom: 0px;
    .item-content {
        background: none;
        &.activated {
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
    &.active-page-highlight {
        .item-content {
            background: $SIDEMENU_TRANSPARENCY;
        }
    }
}

.profile-image {
    img {
        border-radius: 50%;
        margin: 10px;
        border: 10px solid $SIDEMENU_TRANSPARENCY;
    }
}

.page-header, .sub-header {
    position: relative;
    background-color: #1b8dd6;
    white-space: nowrap;
    overflow: hidden;
}

.page-header {
    height:70px;
    padding: 5px;
}

.sub-header {
    height:50px;
    margin-top: 7px;
    padding: 5px;
}

h1 {
    font-family: 'righteous';
    color: white;
    padding-top: 4px;
}

h2 {
    padding-top: 4px;
}

.card-corners {
    -webkit-border-radius: 10px 10px 0 0;
    border-radius: 10px 10px 0 0;
}

.text-area {
    height: 400px;
}

.swipe-button-delete, .swipe-button-update, .swipe-button-reset {
    font-size: 10pt;
    font-weight: bold;
    color: white;
}

.swipe-button-delete {
    background-color: rgb(255, 100, 100);
}

.swipe-button-reset {
    background-color: rgb(27, 214, 27);
}

.swipe-button-update {
    background-color: rgb(34, 30, 253);
}

.grid {
    padding: 0;
}

ion-icon {
    font-size: 20pt;
    vertical-align: middle;
    padding-left: 5px;
    padding-right: 5px;
 }

 .spacer {
    width: 100%; 
    height: 7px;
 }

 ion-slide.swiper-slide {
    align-items: flex-start;
}

.shadow-div {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.button-md {
    margin: 0;
}

.item-trns {
    background-color: rgba(0, 0, 0, 0);
    border: 0, 0, 0, 0;
}

.list-md {
    margin-bottom: 0;
}

.ion-list {
    padding-bottom: 0;
}

.item-md {
    padding-left: 5px;
}

.demerit-circle {
    background-color: #32db64;
    color:white;
    height:30px;
    width:30px;
    border-radius:50%;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
    float: right;
    margin: 0;
}

.attachment-flag {
    color: #444;
    height:30px;
    width:20px;
    font-size: 10pt;
    padding-top: 5px;
    float: right;
}    

.good {
    background-color: #32bd64;
    float: right;
    margin: 0;
}

.bad {
    background-color: #f53d3d;
    float: right;
    margin: 0;
}

.header-title {
    float: left;
}

button {
    ion-badge {
        position: absolute;
        top: 2px;
        right: 4px;
        opacity: 0.85;

        & ~ ion-icon {
            margin-right: 1.2rem;
        }
    }
}

ion-title {
    padding-top: 5px;
    text-overflow: ellipsis;
}

.small-message {
    font-size: 10pt;
}

.sheet {
    border-bottom: 1px solid #CCC !important;
    font-size: 13pt !important;
}

.sheet-last {
    font-size: 13pt !important;
}

.action-sheet-group {
    padding-top: 0 !important;
}

.gps-data {
    padding-top: 15px !important;
    clear: both;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child {
    border-bottom: 0;
}

.list-ios > .item-block:last-child, .list-ios > .item-wrapper:first-child {
    border-top: 0;
}

.list-ios {
    margin: 0;
}

.card-ios {
    margin: 0;
    margin-right: 0;
}

