<!--
  Generated template for the ExaminationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class="header-title">
      <ion-title>{{ sharedData.client.get('givenName').value }} {{ sharedData.client.get('surname').value }}</ion-title>
    </div>
    <div style="float: right">
      <button [hidden]="true" ion-button (click)="showGpsData()" icon-only clear>
        <ion-icon class="header-badge" name="md-compass"></ion-icon>
      </button>
      <button ion-button icon-only clear>
        <ion-badge item-end secondary>
          {{ sharedData.examRevision }}
        </ion-badge>
        <ion-icon class="header-badge" name="md-reverse-camera"></ion-icon>
      </button>
      <button ion-button icon-only clear>
        <ion-badge item-end secondary>
          {{ sharedData.licenseClass }}
        </ion-badge>
        <ion-icon class="header-badge" name="md-bus"></ion-icon>
      </button>
      <button ion-button icon-only clear>
        <ion-badge item-end [ngClass]="sharedData.badgeColor(sharedData.getTotalDemeritCount())">
          {{ sharedData.getTotalDemeritCount() }}
        </ion-badge>
        <ion-icon name="notifications" class="header-badge"></ion-icon>
      </button>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-fab bottom right>
    <button ion-fab (click)="saveCurrentExam()" color="primary"><ion-icon name="md-bookmark" color="light" style="font-size:22pt"></ion-icon></button>
  </ion-fab>
  <ion-list class="page-header card-corners">
    <ion-item class="item-trns" style="border: 0">
      <ion-avatar item-start>
        <img src="assets/imgs/truck1.png">
      </ion-avatar>
      <h1>Examination</h1>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-list>
        <ion-item-divider color="light"><h2> LIVE LOCATION FEED</h2></ion-item-divider>
        <ion-item style="border-bottom:1px solid #DDD">
          <ion-grid style="padding: 0">
            <ion-row>
              <ion-col col-2>
                <img (click)="toggleMapsCanvas()" style="padding-left:5px;width:60px;height:55px" src="assets/imgs/globe.png">
              </ion-col>
              <ion-col col-9>
                <ion-grid style="padding-left: 10px">
                  <ion-row>
                    <ion-col style="padding:0">
                      Latitude:
                    </ion-col>
                    <ion-col style="padding:0">
                         {{ position.latitude }}
                    </ion-col>
                    <ion-col style="padding:0">
                      Speed:
                    </ion-col>
                    <ion-col style="padding:0">
                      {{ position.speed | number:'1.0-1' }} Kmh
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="padding:0">
                      Longitude:
                    </ion-col>
                    <ion-col style="padding:0">
                         {{ position.longitude }}
                    </ion-col> 
                    <ion-col style="padding:0">
                      Altitude:
                    </ion-col>
                    <ion-col style="padding:0">
                      {{ position.altitude }}
                    </ion-col> 
                  </ion-row>
                  <ion-row>
                      <ion-col style="padding:0">
                        Speed Limit:
                      </ion-col>
                      <ion-col style="padding:0">
                           {{ position.speedLimit }}
                      </ion-col> 
                      <ion-col style="padding:0">
                        Odometer:
                      </ion-col>
                      <ion-col style="padding:0">
                        {{ position.odometer }}
                      </ion-col> 
                    </ion-row>
                  </ion-grid>
              </ion-col>
            </ion-row>
          </ion-grid>
      </ion-item>

      <div [hidden]="!sharedData.showMaps" style="height: 500px;background-color: transparent !important" id="map_canvas">
      </div>
      <ion-item [hidden]="true">
        <textarea style="width:100%; height:300px" [(ngModel)]="gpsView">
        </textarea>
      </ion-item>
      <ion-item [hidden]="sharedData.routeWasLoaded || !sharedData.showMaps">
        <ion-grid>
          <ion-row>
           <ion-col col-4><button ion-button full (click)="moveCameraToCurrentLoc()"><ion-icon name="pin" color="light" style="font-size: 18pt"></ion-icon>Current</button></ion-col>
           <ion-col col-4><button ion-button full (click)="moveCameraToCurrentRoute()"><ion-icon name="map" color="light" style="font-size: 18pt"></ion-icon>Route</button></ion-col>
           <ion-col col-4>
             <button [hidden]="sharedData.trackingIsOn" ion-button full (click)="toggleTracking()"><ion-icon name="globe" color="light" style="font-size: 18pt"></ion-icon>Track</button>
             <button [hidden]="!sharedData.trackingIsOn" ion-button full (click)="toggleTracking()"><ion-icon name="globe" color="light" style="font-size: 18pt"></ion-icon>Stop</button></ion-col>
         </ion-row>
         </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  
  <div class="spacer" style="width: 748px; height: 15px;"></div>
  
  <ion-card>
  <ion-list>
    <ion-item-divider color="light"><h2> INFRACTION SUMMARY</h2></ion-item-divider>
    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-arrow-dropleft-circle"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentLeftTurn()">
              LEFT TURN
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.leftTurn.infractions.length)" (click)="sharedData.hideDemerits.leftTurn=!sharedData.hideDemerits.leftTurn">
                {{ sharedData.getDemeritCount(sharedData.leftTurn) }}
              </span>
              <span [hidden]="!showAttachmentIcon(0)" class="attachment-flag">
                <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
              </span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.leftTurn || sharedData.leftTurn.length == 0">
          <ion-card-content>
            <ion-list>
              <div class="card-header top-padding">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.leftTurn.infractions">
                <ion-item (click)="presentDemerits(item)">
                  <ion-grid>
                    <ion-row>
                      <ion-col col-5>{{ item.value }}</ion-col>
                      <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                      <ion-col col-3>{{ item.demerits }} Points</ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>
                <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.leftTurn.infractions)">
                      <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                    </button>
                </ion-item-options>
              </ion-item-sliding>
              <ion-item>
                <div class="comment-control">Comments:
                  <div style="float: right">
                     <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-brush"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(0)">
                      <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(0)">
                        <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(0)">
                        <ion-icon class="panel-button" name="md-trash"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                    </button>
                  </div>
                </div>
              <canvas-draw [hidden]="!typedComments" name="left-turn-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
              <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[0]" class="comments-textarea"></textarea>
            </ion-item>              
          </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-arrow-dropright-circle"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentRightTurn()">
              RIGHT TURN
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.rightTurn.infractions.length)" (click)="sharedData.hideDemerits.rightTurn=!sharedData.hideDemerits.rightTurn">
                {{ sharedData.getDemeritCount(sharedData.rightTurn) }}
              </span>
              <span [hidden]="!showAttachmentIcon(1)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.rightTurn || sharedData.rightTurn.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
              <ion-grid>
                <ion-row style="color:black">
                  <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                  <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                  <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <ion-item-sliding *ngFor="let item of sharedData.rightTurn.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.rightTurn.infractions)">
                      <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(1)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(1)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(1)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="right-turn-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[1]" class="comments-textarea"></textarea>
          </ion-item>              
        </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-eye"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentRoadPosition()">
              ROAD POSITION
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.roadPosition.infractions.length)" (click)="sharedData.hideDemerits.roadPosition=!sharedData.hideDemerits.roadPosition">
                {{ sharedData.getDemeritCount(sharedData.roadPosition) }}
              </span>
              <span [hidden]="!showAttachmentIcon(2)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.roadPosition || sharedData.roadPosition.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.roadPosition.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.roadPosition.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(2)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(2)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(2)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="road-position-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[2]" class="comments-textarea"></textarea>
          </ion-item>              
        </ion-list>
        </ion-card-content>
      </ion-card>
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="ios-speedometer"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentSpeed()">
              SPEED
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.speed.infractions.length)" (click)="sharedData.hideDemerits.speed=!sharedData.hideDemerits.speed">
                {{ sharedData.getDemeritCount(sharedData.speed) }}
              </span>
              <span [hidden]="!showAttachmentIcon(3)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.speed || sharedData.speed.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.speed.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.speed.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(3)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(3)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(3)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="road-position-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[3]" class="comments-textarea"></textarea>
          </ion-item>              
          </ion-list>
        </ion-card-content>
      </ion-card>    
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-rewind"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentBacking()">
              BACKING
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.backing.infractions.length)" (click)="sharedData.hideDemerits.backing=!sharedData.hideDemerits.backing">
                {{ sharedData.getDemeritCount(sharedData.backing) }}
              </span>
              <span [hidden]="!showAttachmentIcon(4)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.backing || sharedData.backing.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.backing.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.backing.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(4)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(4)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(4)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="backing-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[4]" class="comments-textarea"></textarea>
          </ion-item>              
       </ion-list>
        </ion-card-content>
      </ion-card>   
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="ios-cog"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentShifting()">
              SHIFTING
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.shifting.infractions.length)" (click)="sharedData.hideDemerits.shifting=!sharedData.hideDemerits.shifting">
                {{ sharedData.getDemeritCount(sharedData.shifting) }}
              </span>
              <span [hidden]="!showAttachmentIcon(5)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.shifting || sharedData.shifting.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.shifting.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.shifting.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete 
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(5)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(5)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(5)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="shifting-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[5]" class="comments-textarea"></textarea>
          </ion-item>              
          </ion-list>
        </ion-card-content>
      </ion-card>   
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-hand"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentRightOfWay()">
              RIGHT OF WAY
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.rightOfWay.infractions.length)" (click)="sharedData.hideDemerits.rightOfWay=!sharedData.hideDemerits.rightOfWay">
                {{ sharedData.getDemeritCount(sharedData.rightOfWay) }}
              </span>
              <span [hidden]="!showAttachmentIcon(6)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  
      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.rightOfWay || sharedData.rightOfWay.length == 0">
        <ion-card-content>
          <ion-list>
              <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.rightOfWay.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.rightOfWay.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
              <ion-item>
                <div class="comment-control">Comments:
                  <div style="float: right">
                     <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-brush"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(6)">
                      <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(6)">
                        <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(6)">
                        <ion-icon class="panel-button" name="md-trash"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                    </button>
                  </div>
                </div>
              <canvas-draw [hidden]="!typedComments" name="right-of-way-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
              <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[6]" class="comments-textarea"></textarea>
            </ion-item>              
          </ion-list>
        </ion-card-content>
      </ion-card>   
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-unlock"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentUncoupling()">
              UNCOUPLING
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.uncoupling.infractions.length)" (click)="sharedData.hideDemerits.uncoupling=!sharedData.hideDemerits.uncoupling">
                {{ sharedData.getDemeritCount(sharedData.uncoupling) }}
              </span>
              <span [hidden]="!showAttachmentIcon(7)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.uncoupling || sharedData.uncoupling.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.uncoupling.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.uncoupling.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
            <ion-item>
              <div class="comment-control">Comments:
                <div style="float: right">
                   <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-brush"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(7)">
                    <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(7)">
                      <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(7)">
                      <ion-icon class="panel-button" name="md-trash"></ion-icon>
                  </button>
                  <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                    <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                  </button>
                </div>
              </div>
            <canvas-draw [hidden]="!typedComments" name="uncoupling-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
            <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[7]" class="comments-textarea"></textarea>
          </ion-item>              
          </ion-list>
        </ion-card-content>
      </ion-card>   
    </ion-item>

    <ion-item>
      <div>
        <ion-grid>
          <ion-row>
            <ion-col col-1>
              <ion-icon name="md-lock"></ion-icon>
            </ion-col>
            <ion-col col-8 class="infraction-link" (click)="presentCoupling()">
              COUPLING
            </ion-col>
            <ion-col col-3>
              <span class="demerit-circle" [ngClass]="sharedData.badgeColor(sharedData.coupling.infractions.length)" (click)="sharedData.hideDemerits.coupling=!sharedData.hideDemerits.coupling">
                {{ sharedData.getDemeritCount(sharedData.coupling) }}
              </span>
              <span [hidden]="!showAttachmentIcon(8)" class="attachment-flag">
                  <ion-icon style="font-size: 14pt" name="md-attach"></ion-icon>
                </span>
              </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <ion-card class="top-margin" [hidden]="sharedData.hideDemerits.coupling || sharedData.coupling.length == 0">
        <ion-card-content>
          <ion-list>
            <div class="card-header">
                <ion-grid>
                  <ion-row style="color:black">
                    <ion-col col-5><ion-icon name="md-list" class="icon-light"></ion-icon>Item</ion-col>
                    <ion-col col-4><ion-icon name="md-time" class="icon-light"></ion-icon>Time</ion-col>
                    <ion-col col-3><ion-icon name="md-sad" class="icon-light"></ion-icon>Demerit</ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <ion-item-sliding *ngFor="let item of sharedData.coupling.infractions">
              <ion-item (click)="presentDemerits(item)">
                <ion-grid>
                  <ion-row>
                    <ion-col col-5>{{ item.value }}</ion-col>
                    <ion-col col-4>{{ item.time | date: 'mediumTime' }}</ion-col>
                    <ion-col col-3>{{ item.demerits }} Points</ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item-options side="right">
                  <button ion-button color="danger" (click)="deleteInfraction(item, sharedData.coupling.infractions)">
                    <ion-icon class="slider-icon" name="md-trash"></ion-icon> Delete
                  </button>
              </ion-item-options>
            </ion-item-sliding>
              <ion-item>
                <div class="comment-control">Comments:
                  <div style="float: right">
                     <button [hidden]="typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-brush"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="clearComment(8)">
                      <ion-icon class="panel-button" name="md-backspace"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="reloadComment(8)">
                        <ion-icon class="panel-button" name="md-refresh"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="deleteComment(8)">
                        <ion-icon class="panel-button" name="md-trash"></ion-icon>
                    </button>
                    <button [hidden]="!typedComments" ion-button icon-only clear class="comment-button" (click)="toggleComments()">
                      <ion-icon class="panel-button" name="md-keypad"></ion-icon>
                    </button>
                  </div>
                </div>
              <canvas-draw [hidden]="!typedComments" name="coupling-comments.png" background-img="assets/imgs/comment-pad.png" pen-colour="dark" pen-size="1"></canvas-draw>
              <textarea [hidden]="typedComments" [(ngModel)]="sharedData.comments[8]" class="comments-textarea"></textarea>
            </ion-item>                        
          </ion-list>
        </ion-card-content>
      </ion-card>   
    </ion-item>
  </ion-list>
  </ion-card>

<div class="spacer" style="width: 748px; height: 15px;"></div>

 <ion-card>
    <ion-item-divider color="light"><h2>EXAM RESULTS</h2></ion-item-divider>
      <ion-list>
        <form [formGroup]="sharedData.results">
          <ion-item>
            <ion-label floating>Qualified:</ion-label>
            <ion-select formControlName="qualified" type="text">
              <ion-option value="Yes" selected="true">Yes</ion-option>
              <ion-option value="No">No</ion-option>
              <ion-option value="Discontinued">Discontinued</ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label floating>Dangerous Action:</ion-label>
            <ion-input formControlName="dangerousAction" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Traffic Violation:</ion-label>
            <ion-input formControlName="trafficViolation" type="text"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label floating>Other (specify):</ion-label>
            <ion-input formControlName="other" type="text"></ion-input>
          </ion-item>
        </form>
      </ion-list>
  </ion-card>

  <div class="spacer" style="width: 748px; height: 15px;"></div>

  <ion-card class="sub-header">
    <ion-item class="item-trns" style="border: 0">
      <h2 style="color: white;text-align: center">Copyright &copy; ICBC 2018</h2>
    </ion-item>
  </ion-card>  
    
</ion-content>
