page-pretrip {

    h2 {
        color: white;
        padding-top: 0;
    }

    ion-icon {
        font-size: 20pt !important;
        color: #4c4c4c;
    }

    .card-md {
        margin: 0;
        width: 100%;
    }    

    .header-badge {
        padding-left: 2px;
    }
}
