page-pretrip417 {

    ion-icon {
        font-size: 20pt !important;
        color: #4c4c4c;
    }

    .card-md {
        margin: 0;
        width: 100%;
    }    

    .header-badge {
        padding-left: 2px;
    }

    ion-item {
        border-bottom: 1px solid #CCC !important;
    }
}
